<%= turbo_frame_tag dom_id(message) do %>
  <div class="flex mb-4 relative <%= message_alignment(user, message) %>">
    <div class="py-3 px-4 text-white <%= message_style(user, message) %>">
      <%= message.body %>
    </div>
    <span class="text-xs text-white absolute bottom-0 <%= message_timestamp_position(user, message) %>"><%= message.created_at.strftime('%H:%M') %></span>
  </div>
<% end %>