<div class="flex <%= current_user.id == message.user.id ? 'justify-end' : 'justify-start' %> mb-4 relative">
  <div class="<%= current_user.id == message.user.id ? 'mr-2' : 'ml-2' %> py-3 px-4 text-white <%= current_user.id == message.user.id ? 'bg-gray-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl' :
                                                                                                     'bg-blue-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl' %>">
    <%= message.body %>
  </div>
  <span class="text-xs text-white absolute bottom-0
        <%= current_user.id == message.user.id ? 'right-3' : 'left-3' %>"><%= message.created_at.strftime('%H:%M') %></span>
</div>